doctype html
html
  head
    title Homework
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='javascripts/questions.js')

body
  .container(style="margin: 0 auto; width: 800px")
    h1 Homework
    hr
    button.btn.btn-primary(onclick="loadQuestion()" style="margin-top: 10px; margin-bottom: 10px")
      span.glyphicon.glyphicon-refresh
      |  Refresh

    table#question.table.table-hover
      tbody